<h4><a href="/books">Book Index</a></h4>
<h4><a href="/libraries">Library Index</a></h4>
<h4><a href="/libraries/<%= @library.id %>/books">Library Book Index</a></h4>

<h1><%= @library.name %></h1>

<h3>Book Count: <%= @library_books.count %></h3>
<h3>Public Library: <%= @library.public_library %></h3>
<h3>Employees: <%= @library.employees %></h3>
<h3>Created At: <%= @library.created_at %></h3>
<h3>Updated At: <%= @library.updated_at %></h3>

<h3><a href="/libraries/<%= @library.id %>/edit">Update Library</a></h3>